<h1>About Me</h1>
<hr>
<p>I am currently studying full stack web development at Bottega. I am also working for a startup called recCenter. recCenter produced an app that is designed to connect sports communities including athletes, coaches, leagues, tournaments and facilities.</p>
<p>I am also heavily involved in soccer. I previously played professionally for ŁKS Łomża in Poland. I have been coaching soccer and track and field since 2011. I am currenly playing for NY Shamrock SC in the Cosmopolitan Soccer League where I also serve as the 3rd Vice President of the league.</p>
