<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "13221746_3193407549114_1546658880854124401_n (2).jpg", width: 300, alt: "Profile Image" %>
	</div>

	<div class="col-md-8">
		<p>I am currently studying full stack web development at Bottega. I am also working for a startup called recCenter. recCenter produced an app that is designed to connect sports communities including athletes, coaches, leagues, tournaments and facilities.</p>

		<p>I am also heavily involved in soccer. I previously played professionally for ŁKS Łomża in Poland. I have been coaching soccer and track and field since 2011. I am currenly playing for NY Shamrock SC in the Cosmopolitan Soccer League where I also serve as the 3rd Vice President of the league.</p>
	</div>
</div>
